<div class="navbar">
  <h2>
    My Budget Planner
  </h2>
</div>

<div>
  <div class="toggle-button-row" (click)="toggleSlideOut()">
    <mat-icon>menu</mat-icon>
  </div>
</div>

<div class="slide-out-panel" [class.slide-out]="isSlideOut">
  <div class="slide-out-content">
      <div class="edit-col" (click)="onDash()">Dashboard</div>
      <div class="edit-col" (click)="onProfile()">Profile</div>
      <div class="edit-col" (click)="onHistory()">Prev History</div>
      <div class="edit-col" (click)="onLogout()">Log Out</div>
    </div>

</div>
